# Java
*.class
*.jar
*.war
*.ear

# Eclipse
*.classpath
*.project
*.settings/

# IntelliJ
*.iml
.idea/
out/

# VS Code
.vscode/

# Build
target/
bin/
build/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Environment
.env

# Maven
.mvn/
!**/src/main/**/mvnw
!**/src/main/**/mvnw.cmd